.domain-preview {
    .name {
        span {
            display: flex;
            align-items: center;
            gap: 0.5rem;
        }
    }

    td {
        text-align: left;
        border-bottom: 1px solid var(--border-light);
        text-overflow: ellipsis;
        white-space: normal;
        padding: 0.5rem;

        &.green {
            color: var(--success);
        }

        &.red {
            color: var(--danger);
        }

        &.green,
        &.red {
            font-weight: 600;
        }
    }

    td {
        color: var(--text-body);
    }

    &:hover {
        background: var(--bg-light);
    }
}