.glowing-circle {
    width: 10px;
    height: 10px;
    margin-block-start: 0.2rem;
    background-color: red;
    border-radius: 50%;
    box-shadow: 0 0 20px red, 0 0 40px red, 0 0 60px red;
    animation: glow-red 1.5s infinite;
}

@keyframes glow-red {
    0%, 100% {
        box-shadow: 0 0 20px red, 0 0 40px red;
    }
    50% {
        box-shadow: 0 0 30px red, 0 0 60px red;
    }
}