@media (min-width: 600px) {
    .main-layout {
        grid-template-columns: 
            minmax(20px, 1fr)
            minmax(auto, 980px)
            minmax(20px, 1fr);
    }

    .home {
        .home-content {
            padding: 2rem;
        }
        h1 {
            font-size: 2.5rem;
        }
    }

    .stats-display {
        padding: 2rem;
    }

    .domain-list {
        table {
            margin-top: 1rem;
            font-size: 1rem;

            th {
                padding: 0.8rem;
            }
        }
    }

    .domain-preview {
        td {
            max-width: 200px;
            padding: 1rem;
            overflow: unset;
        }
    }

    .docs-page {
        padding: 2rem 1rem;

        .docs-container {
            padding: 3rem;
        }

        h1 {
            font-size: 2.5rem;
        }

        .docs-section {
            h2 {
                font-size: 1.8rem;
            }

            h3 {
                font-size: 1.4rem;
            }
        }

        .docs-legend {
            ul {
                grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            }
        }
    }
}